@font-face {
   font-family: 'suwargi';
   src: url('../fonts/Suwargi.ttf') format('truetype');
}
@font-face {
   font-family: 'roboto';
   src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
*{box-sizing: border-box;}
body{
    border:0px solid red;
    margin: 0px;
    margin-right: 70px;
    font-family: 'roboto';   
}
h1{
    font-family: 'suwargi';
    font-size: 36pt;
    text-align: center;
    background-color: darkcyan;
    color: ghostwhite;
    padding: 10px;
}
 .foods{
        width: 100%;
}
img{
    float: left;
    border-radius: 10px;
    border: 8px solid #BBF3F4;
    margin-right: 20px;
}
.text h2{
    font-family: 'suwargi';
    color: darkcyan;
    font-size: 18pt;
    padding: 2px;
}
.text {
    font-size: 12pt;
    line-height: 1.1;
    padding-right: 260px;
    color: aliceblue;
}
.text p a{
    color: aquamarine;
}
.clear{
    clear: both;
}
.foods2{
    width: 100%;
}
.foods2 img{
    float: left;
    border-radius: 10px;
    border: 8px solid #BBF3F4;
    margin-right: 20px;
}
.text2 h2{
    font-family: 'suwargi';
    font-size: 18pt;
    padding: 2px;
    color: darkcyan;
}
.text2{
    font-size: 12pt;
    line-height: 1.1;
    padding-right: 260px;
    color: aliceblue;
}
.text2 p a{
    color: aquamarine;
}